# cache file
__pycache__/


# dataset cache
*_dataset
lm_cache

# data file
*.png
*.csv
*.txt
*.npy
results/
*.json
result_text
model_cache/
lora-alpaca*/
cache_dir/
data/
dyllm_test*/
temp_llama/


# for attention analysis
!rag_distill_cp.json

# weight file
here/
weight/